*{
    margin: 0;
    font-family: var(--fontfamily);
}
:root{
    --fontfamily:Hanken Grotesk
}
main{
    background-color:  hsl(0, 0%, 100%);
}
section{
    display: flex;
    width: 50%;
    margin:8% auto 7%;
    justify-content: center;
    box-shadow: 0px 0px 4px lightsteelblue;
    border-radius: 20px;
}
section>div{
    width: 40%;
}
.firstWrapper{
    padding: 20px 50px;
    background-color: hsl(252, 100%, 67%);
    border-radius: 20px;
}
.firstWrapper p{
    color: hsl(241, 100%, 89%);
    text-align: center;
    padding: 15px 19px;
    font-size: 13px;
}
.firstWrapper >p:first-of-type{
        font-size: 20px;
}
.scrore h1,.firstWrapper h2{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 55px;
    font-weight: 800;
}
.firstWrapper h2{
    font-size: 23px;
    padding-top: 17px;
}
.scrore{
    background-color: hsla(256, 72%, 46%, 1);
    border-radius: 50%;
    padding: 65px;

}
.scrore p{
    padding: 0;
    color: hsl(240, 12%, 66%);
    font-size: 12px;
}
.scores,.scores2,.verbal,.visual{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #fff6f6;
    padding: 8px 4px;
    padding-inline-end: 14px;
    padding-inline-start: 8px;
    border-radius: 8px;
    margin-bottom: 26px;
}
.scores div >span{
    color: hsl(0, 100%, 67%);
    padding-left:5px ;
}
.scores div p span,.scores2 div p span,.verbal div p span,.visual div p span{
    color: gray;
}
.secondWrapper{
    padding: 28px 30px;
}
.secondWrapper div img{
    width: 18px;
}
.secondWrapper h3{
    padding-bottom: 30px;
}
.scores2 div span{
    color: hsl(39, 100%, 56%);
    padding-left: 5px;
}
.verbal div span{
    color:hsl(166, 100%, 37%);
    padding-left:5px
}
.visual div span{
    color: hsl(234, 85%, 45%);
    padding-left: 5px;
}
.secondWrapper button{
    margin-top: 20px;
    padding: 10px 87px;
    border-radius: 22px;
    border: none;
    background-color: hsl(224, 30%, 27%);
}
.secondWrapper button a{
    text-decoration: none;
    color: #fff;
}

@media((min-width:375px) and (max-width:780px)){
    body{
        background-color: black;
    }
    main{
        margin: 15%;
    }
    section{
        display: block;
        width: fit-content;
        margin: 0;
        box-shadow: none;
    }
    section>div{
        width: -webkit-fill-available;
    }
    .firstWrapper{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }    
    .scrore{
        width: 35%;
        margin: 15px auto;
        padding: 26px;
        border-radius: 50%;
    }
    .firstWrapper p{
        width: 88%;
        margin: 0 auto;
    }
    .secondWrapper button{
        width: -webkit-fill-available;
    padding: 20px 87px;
    border-radius: 36px;
    }
}